###############
### Default ###
###############

* text=auto eol=lf

###########
### Git ###
###########

.gitattributes text eol=lf
.gitignore text eol=lf

############
### Text ###
############

*.txt text eol=lf
*.md text eol=lf
*.conf text eol=lf
*.sh text eol=lf
*.index text eol=lf

##############
### Binary ###
##############

*.png binary
*.svg binary
