name: Create Release
on:
  schedule:
    - cron:  '0 0 * * 0'

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get current version
        id: version
        run: |
          hash=$(git rev-parse --short HEAD)
          echo "::set-output name=version::$(date --utc --date=@$(git show -s --format=%ct $hash) +'%Y-%m-%d--%H-%M-%S')"
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{steps.version.outputs.version}}
          release_name: ${{steps.version.outputs.version}}
          body: |
            Picon packages can take up to an hour to appear here...
          draft: false
          prerelease: false
